<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1024255470535-uiaoqc7qsiisftbl30cach1mehj6jt7s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1024255470535-uiaoqc7qsiisftbl30cach1mehj6jt7s</string>
	<key>API_KEY</key>
	<string>AIzaSyBWlxb58rDJpo1Fyi6AMz0tWz3qsT6F_sY</string>
	<key>GCM_SENDER_ID</key>
	<string>1024255470535</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>addicure-7951c</string>
	<key>STORAGE_BUCKET</key>
	<string>addicure-7951c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1024255470535:ios:e2f47159c73b28d010c7e2</string>
</dict>
</plist>